<form>

  <h4>My Identity</h4>
  <p>
    The information provided here will be used for the advance care directives you complete on our site.
    Please provide your proper/legal name as shown on your driver's license or other state or federal
    identification documents.
  </p>
  <div class="form-section">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp" placeholder="first name">
      <small id="firstNameHelp" class="form-text text-muted">Please use your legal first name</small>
    </div>

    <div class="form-group">
      <label for="middleName">Middle Name</label>
      <input type="text" class="form-control" id="middleName" aria-describedby="middleNameHelp" placeholder="middle name">
      <small id="middleNameHelp" class="form-text text-muted">Please use your legal middle name</small>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp" placeholder="last name">
      <small id="lastNameHelp" class="form-text text-muted">Please use your legal last name</small>
    </div>

    <div class="form-group">
      <label for="dob">Date of Birth</label>
      <input type="date" class="form-control" id="dob" aria-describedby="dobHelp" placeholder="dob name">
      <small id="dobHelp" class="form-text text-muted">Please use mm/dd/yyyy format</small>
    </div>

    <div class="form-group">
      <label for="maidenName">Mother's Maiden Name</label>
      <input type="text" class="form-control" id="maidenName" aria-describedby="maidenNameHelp" placeholder="mother's maiden name">
      <small id="maidenNameHelp" class="form-text text-muted">Please use your legal mother's maiden name</small>
    </div>

    <div class="form-group">
      <label for="ssn">Last 4 digits of SSN</label>
      <input type="text" class="form-control" id="ssn" aria-describedby="ssnHelp" placeholder="last 4 of SSN" maxlength="4" minlength="4">
      <small id="ssnHelp" class="form-text text-muted">Please use the last 4 digits of your social security number</small>
    </div>

    <div class="form-group" style="padding-top: 20px">
      <button type="button" class="btn btn-secondary">Save</button>
      <button type="button" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
